<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Moie Reccomender System">
  <meta name="author" content="Sachal Malick">

  <title>Movie Reccomender</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/heroic-features.css')}}" rel="stylesheet">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
	
<script>
	function star_clicked(val) {
		var rem = val % 5; 
		var rest = 5 - rem;
		for(var i = 0; i <= rem; i++) {
			var elem = document.getElementById("star_" + (val - i));
			elem.classList.add("checked");
		}
		for(var i = 1; i < rest; i++) {
			var elem = document.getElementById("star_" + (val + i));
			elem.classList.remove("checked");
		}
	}
	
	function getrecs(val) {
		var results = [];
		for(var i = 0; i < val; i++) {
			var elem = document.getElementById("star_" + i);
			if(elem.classList.contains("checked")) {
				results.push(true);
			}
			else {
				results.push(false);
			}
		}
		window.location.href = "./suggestions?feedback=" + results;
	}
</script>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Movie Reccomender</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Try these movies!</h1>
      <p class="lead">Based on your response to the previously shown, here are some movies we think you might like</p>
<!--      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>-->
    </header>

    <!-- Page Features -->
    <div class="row text-center">

		
{% set count = namespace(value=0) %}
{% for movie in movies %}
	<div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{movie['Poster']}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{movie['Title']}}</h4>
            <p class="card-text">{{movie['Writer']}}</p>
          </div>
        </div>
      </div>
  		{% set count.value = count.value + 5 %}
{% endfor %}


    </div>
    <!-- /.row -->
	  
	  <button class="btn btn-primary btn-lg" onclick = "window.location.href='./'"> Return Home</button>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sachal Malick 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>


